nav a {
  color: black;
  align-content: space-between;
  margin-left: 20px;
  max-width: 800px;
}
nav {
  display: flex;
  justify-content: space-between;
  border-bottom: dashed-black;
  font-size: 1.7rem;
  max-width: 800px;
  align-self: center;
}
.top-section {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  border-bottom: 1px dashed black;
  padding: 20px 0;
  margin: 20px 0;
  width: 100%;
  height: auto;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.6rem;
}
